<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="height" value="800" />
      <add key="width" value="1200" />
      <add key="heightFooter" value="100" />
      <add key="currentLevel" value="1" />
      <add key="countLevel" value="3" />
      <add key="sizeSprite" value="70" />
   </appSettings>
</configuration>